body {
    width: 80%;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
}

.resume-page {
    background-color: white;
    padding: 1in;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 8.5in;
    margin: 0 auto;
}

.resume-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-information {
    text-align: center;
}

.highlights-of-qualifications hr {
    margin-top: -20px;
    margin-bottom: 15px;
}

.summary-of-technical-qualifications hr {
    margin-top: -20px;
    margin-bottom: 15px;
}

.summary-of-technical-qualifications li{
    text-indent: 40px;
    list-style: inside;
}

.summary-of-technical-qualifications h5 {
    font-style: italic;
}

.education hr {
    margin-top: -20px;
    margin-bottom: 15px;
}

.education p{
    text-indent: 15px;
}

.projects p {
    text-indent: 20px;
}


.projects li {
    text-indent: 40px;
    list-style: inside;
}

.projects hr {
    margin-top: -20px;
    margin-bottom: 15px;
}

.experience p {
    text-indent: 40px;
}

.experience li {
    text-indent: 40px;
    list-style: inside;
}

.experience hr {
    margin-top: -20px;
    margin-bottom: 15px;
}

.language-skills hr {
    margin-top: -20px;
    margin-bottom: 15px;
}